In [147]:
# Importing dependencies that will be used for the code.
import json
import pandas as pd
from pprint import pprint
import datetime
import numpy as np
# Importing json data.
json_data = json.load(open("dogbites.json"))

In [148]:
# Creating a data specific DataFrame.
dog_data = pd.DataFrame(json_data["data"], columns=[
  "drop_code1",
  "drop_code2",
  "drop_code3",
  "drop_code4",
  "drop_code5",
  "drop_code6",
  "drop_code7",
  "drop_code8",
  "unique_id",
  "incident_date",
  "species",
  "breed",
  "age",
  "gender",
  "spay_neuter_status",
  "borough",
  "zip_code"
])

In [149]:
# Specifying columns to drop.
drop_columns = [
  "drop_code1",
  "drop_code2",
  "drop_code3",
  "drop_code4",
  "drop_code5",
  "drop_code6",
  "drop_code7",
  "drop_code8",
  "species"
]

In [150]:
# Cleaning column headers.
dog_data_clean = dog_data.drop(columns=drop_columns)
dt_format = None
dog_data_clean['age'] = dog_data_clean["age"].replace("Y", "", regex=True)
dog_data_clean['incident_date'] = pd.to_datetime(dog_data_clean["incident_date"], format=dt_format)
dog_data_clean['breed'] = dog_data_clean["breed"].str.lower()
dog_data_clean = dog_data_clean[dog_data_clean["borough"] != 'Other']

In [154]:
# Sorting and printing data.
dog_data_clean = dog_data_clean.sort_values("incident_date")
dog_data_clean = dog_data_clean.reset_index(drop=True)
dog_data_clean

,unique_id,incident_date,breed,age,gender,spay_neuter_status,borough,zip_code
0,9350,2015-01-01,pit bull,None,M,False,Staten Island,10301
1,14,2015-01-01,american pit bull terrier/pit bull,None,U,False,Brooklyn,11220
2,6829,2015-01-01,bull dog,3,F,False,Queens,None
3,4,2015-01-01,american pit bull terrier/pit bull,6,M,False,Brooklyn,11221
4,4043,2015-01-01,mixed/other,10,M,True,Manhattan,10065
...,...,...,...,...,...,...,...,...
24982,1291,2022-12-31,pit bull,None,U,False,Bronx,10467
24983,1292,2022-12-31,unknown,None,U,False,Bronx,10463
24984,1293,2022-12-31,yorkshire terrier crossbreed,1,M,False,Bronx,10452
24985,1294,2022-12-31,unknown,None,U,False,Bronx,10469
24986,1299,2022-12-31,cock-a-poo,6,M,False,Bronx,10461

In [152]:
dog_data_clean['age'].value_counts()

age
2            1813
3            1676
1            1585
4            1269
5            1109
             ...
2RS (MALE       1
7m              1
6MTH            1
3MTH            1
17W             1
Name: count, Length: 211, dtype: int64

In [173]:
# This was to drop the gross data that was uploaded to 'age'.

dog_data_clean = dog_data_clean[dog_data_clean['age'].str.contains("-") == False]
dog_data_clean = dog_data_clean[dog_data_clean['age'].str.contains("/") == False]
dog_data_clean = dog_data_clean[dog_data_clean['age'].str.contains("&") == False]
dog_data_clean = dog_data_clean[dog_data_clean['age'].str.contains("mo") == False]
dog_data_clean

,unique_id,incident_date,breed,age,gender,spay_neuter_status,borough,zip_code
2,6829,2015-01-01,bull dog,3,F,False,Queens,None
3,4,2015-01-01,american pit bull terrier/pit bull,6,M,False,Brooklyn,11221
4,4043,2015-01-01,mixed/other,10,M,True,Manhattan,10065
5,4039,2015-01-01,"dachshund, long haired",8,M,False,Manhattan,10026
7,6844,2015-01-02,pit bull,3,M,True,Queens,11412
...,...,...,...,...,...,...,...,...
24978,2113,2022-12-31,"bull dog, english",4,M,False,Manhattan,10037
24979,3189,2022-12-31,german shepherd,2,F,False,Queens,11413
24981,3194,2022-12-31,shih tzu / maltese mix,12,M,True,Queens,11364
24984,1293,2022-12-31,yorkshire terrier crossbreed,1,M,False,Bronx,10452
24986,1299,2022-12-31,cock-a-poo,6,M,False,Bronx,10461

In [178]:
dog_data_clean[dog_data_clean['age'].str.contains("RS") == True]

,unique_id,incident_date,breed,age,gender,spay_neuter_status,borough,zip_code
2386,2683,2015-09-08,lhasa apso,6.5 RS,F,False,Bronx,10467
4160,7889,2016-04-13,doberman pinscher,6 RS,M,False,Queens,11694
4221,7883,2016-04-20,poodle/shih tzu mix,4 RS,M,False,Queens,None
4283,5069,2016-04-25,shih tzu,11 RS,F,False,Manhattan,10128
4286,5075,2016-04-25,beagle/husky,4 RS,M,True,Manhattan,10028
...,...,...,...,...,...,...,...,...
18842,4303,2020-12-21,cocker spaniel,3 RS,M,False,Bronx,10467
19185,4366,2021-02-26,medium mixed breed,3 RS,M,False,Bronx,10455
19191,4365,2021-02-26,medium mixed breed,3 RS,M,False,Bronx,10455
19224,4374,2021-03-06,pit bull,3RS,M,False,Bronx,10456
19402,2158,2021-04-01,scottish terrier,6 RS,F,False,Brooklyn,11217

In [180]:
# Quick function to cleanup the 'age' data.
def months_to_year(age):
  if age != None:
    if age[-1] == "M":
      age = age.replace("M", "")
      age = np.floor(int(age) / 12)
    elif age[-1] == "m":
      age = age.replace("m", "")
      age = np.floor(int(age) / 12)
    elif age[-1] == "MTH":
      age = age.replace("MTH", "")
      age = np.floor(int(age) / 12)
    elif age[-1] == 'yrs':
      age = age.replace(' yrs', '')
      age = np.floor(int(age))
    elif age[-1] == 'RS':
      age = age.replace('RS', '')
      age = np.floor(int(age))
    else:
      float(age)
  return age

df = dog_data_clean.copy()
# df["age"] = df['age'].apply(lambda x: months_to_year(x))

df['age'] = df['age'].apply(lambda x: months_to_year(x))
df[df['age'] == 0]

ValueError: could not convert string to float: '6.5 RS'

In [77]:
# Exporting DataFrames to csv files.
dog_data_clean.to_csv("cleaned_data.csv")

In [78]:
# Creating table DataFrames.
# Dogbite locations.
dogbite_locations_df = dog_data_clean[["borough","zip_code"]].copy()
dogbite_locations_df = pd.DataFrame(dogbite_locations_df)
# dogbite_locations_df = dogbite_locations_df.groupby(["borough"])
dogbite_locations_df

             borough zip_code
0      Staten Island    10301
1           Brooklyn    11220
2             Queens     None
3           Brooklyn    11221
4          Manhattan    10065
...              ...      ...
24982          Bronx    10463
24983          Bronx    10452
24984          Bronx    10469
24985          Bronx    10456
24986          Bronx    10461

[24987 rows x 2 columns]